@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');

@import "tailwindcss";



@theme{
    /* breakpoints */
    --breakpoint-sm:340px;
    --breakpoint-md:540px;
    --breakpoint-lg:768px;
    --breakpoint-xl:1180px;

    /* font */
    --font-jost:"Jost", sans-serif;
    --font-lobster:"Lobster", sans-serif;
}

body{
    @apply bg-green-950 text-white font-jost tracking-wide container mx-auto
}

@utility container1 {
  margin-inline: auto;
  padding-inline: 12px;

  @media (width >= 48rem) {
    padding-inline: 32px;
  }
}

.nav-link{
    @apply text-lg font-bold duration-300 hover:text-yellow-500
}

section{
    @apply py-20 md:py-28;
}

h1 {
    @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}

h2 {
    @apply text-2xl md:text-3xl xl:text-4xl;
}

h3 {
    @apply text-xl md:text-2xl xl:text-3xl;
}

.btn{
    @apply border border-yellow-500 bg-amber-500 rounded-md px-5 py-2 duration-300 hover:opacity-90;
}

/* .btn:hover{
    @apply bg-opa
} */

.btn_outline{
    @apply bg-transparent hover:bg-yellow-500;
}

.socialMedia_icon{
    @apply text-slate-300 hover:text-yellow-500 duration-300 cursor-pointer text-base;
}

.title{
  @apply text-yellow-500 font-lobster
}

.porpular_card:hover img{
  @apply -top-8
}

.swiper-pagination-bullet{
  @apply bg-green-900
}

@theme {
  --animate-move: moveY 3s linear infinite;
  --animate-spin: spin 15s linear infinite;
  --animate-scale: scaleUp 3s linear infinite;

  @keyframes moveY{
    0%,100%{
      transform:translateY(0)
    }
    50% {
      transform: translateY(-1rem)
    }
  }
  @keyframes spin{
    0%{
      transform:rotate(0deg)
    }
     100%{
      transform:rotate(360deg)
    }
  }
  @keyframes scaleUp{
    0%,100%{transform:scale(0.8)}
    50%{transform:scale(1.2)}
  }
}